body {background-image:url(images/chunli.webp); background-color: black;}

h1{color:rgb(245, 244, 248)}

p {color:rgb(243, 247, 245)}

.navlinks {
        list-style: none;
        margin: 0;
        background: tomato;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
      }
      
      .navlinks a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;
      }
      
      .navlinks a:hover {
        background: darken(tomato, 2%);
      }
      
      @media all and (max-width: 800px) {
        .navlinks {
          justify-content: space-around;
        }
      }
      
      @media all and (max-width: 600px) {
        .navlinks {
          flex-flow: column wrap;
          padding: 0;
        }
      
        .navlinks a {
          text-align: center;
          padding: 10px;
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      
        .navlinks li:last-of-type a {
          border-bottom: none;
        }
      }
      
.corenav {
          background: rgb(13, 236, 68);
          display: flex;
          justify-content: flex-start;
          margin: 0;
          text-decoration: none;
          color: blanchedalmond;
          padding: 1%;

        }